.main {
    background-color: #282c34;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.btn {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
}

.btn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: block;
    border: none;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}