.header {
    width: 100%;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    padding: 20px 0;
    font-size: 25px;
    font-weight: 700;
}

.header__navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 40%;
}